<!-- Content -->
<section class="cp-st-content">
      <div>
          <ul class="cp-slider" id="slide_Warp">
              <li class="text-center" id="item{{i}}" [ngClass]="{'active': show === i}" *ngFor="let data of slider_screens;let i = index">
                  <div [style.backgroundImage]="'url('+ data.photo +')'"></div>
              </li>
          </ul>
          <ul class="cp-slider-dot-wrap cp-pad50">
              <li *ngFor="let data of slider_screens; let isFirst = first; let i = index"><div [ngClass]="{'active': selectedItem == i}" [class.active]="isFirst" (click)="clickedItem(i)" class="cp-hover cp-slider-dot"></div></li>
          </ul>
      </div> 
</section>
